
/*allows responsive grid-view */
* { box-sizing: border-box;}

.grid-container{
    display: grid;
    background-color: #43464B;
    column-gap: 10px;
    grid-template-areas: 
    'title title title'
    'map map output'
    'map map command'
    'footer footer footer';

    padding: 5px;
    float: left;
}

.board {
    grid-area: map;
    border-width: 5px;
}

.display {
    grid-area: output;
    border-width: 5px;
    text-align: left;
}

.menu {
    grid-area: command;
    background-color: slategrey;
    border-width: 5px;
}

.inner-grid-container{
    display: grid;
    grid-template-areas: 
    'status status'
    'moves actions'
    'moves actions';
    text-align: center;
    

}

form input .text{
    background-color: slategray;
}
.status-grid {
    grid-area: status;
    border-width: 1;
}

.move-grid {
    grid-area: moves;
    border-width: 1em;
    border-color: black;
}
.action-grid {
    grid-area: actions;
    border-width: 1em;
    border-color: black;
}

h1 {
    font-family: "Times New Roman";
    font-size: 40px;
    font-weight: bold;
}
body, html{
    height: 100%;
    margin: 20;
    background-color: darkorchid;
}
textarea{
    resize: none;
    border: 2px solid black;
    text-align: left;
    width: 300;

}


/* Style the tab */
.tab-menu {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: slategrey;
}

/* Style the buttons inside the tab */
.tab-menu button {
  background-color: inherit;
 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab-menu button:hover {
  background-color: steelblue;
}

/* Create an active/current tablink class */
.tab-menu button.active {
  background-color: steelblue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid black;
  border-top: none;
  height: 400px;
  width: 400px;
}

#admintabhidden {
    display: none;;
}
#copanel {
    display: none;;
}

#admintabshown {
    display: block;
}
#passwordEntry {
}