@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee|IBM+Plex+Mono|Press+Start+2P&display=swap');
/*allows responsive grid-view */

* {
    margin: 0px;
    padding: 0px;
}
    .grid-container{
        display: grid;
        background-color: #43464B;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'title title'
        'map map'
        'map map'
        'command output'
        'footer footer';

        float: left;
    }

@media screen and (min-width: 1454px) {
    .grid-container{
        display: grid;
        background-color: #43464B;
        grid-auto-columns: 1fr 1fr auto;
        grid-template-areas: 
        'title title title'
        'map map output'
        'map map command'
        'footer footer footer';

        float: left;
    }
}

.board {
    grid-area: map;
}

.display {
    width: 100%;
    grid-area: output;
    border-width: 5px;
    text-align: left;
}

.menu {
    grid-area: command;
    background-color: slategrey;
    border-width: 5px;
}
.footer{
    grid-area: footer;
    
}

.inner-grid-container{
    display: grid;
    grid-template-areas: 
    'status status'
    'moves actions'
    'moves actions';
    text-align: center;
    

}

form input .text{
    background-color: slategray;
}
.status-grid {
    grid-area: status;
    border-width: 1;
}

.move-grid {
    grid-area: moves;
    border-width: 1em;
    border-color: black;
}
.action-grid {
    grid-area: actions;
    border-width: 1em;
    border-color: black;
}



/* Style the tab */
.tab-menu {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: slategrey;
}

/* Style the buttons inside the tab */
.tab-menu button {
  background-color: inherit;
 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab-menu button:hover {
  background-color: steelblue;
}

/* Create an active/current tablink class */
.tab-menu button.active {
  background-color: steelblue;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 0px solid black;
  border-top: none;
  height: 400px;
  width: 250px;
}

#admintabhidden {
    display: none;;
}
#copanel {
    display: none;;
}

#admintabshown {
    display: block;
}


html{
    font-family: 'Audiowide', serif;
    font-size: 21px;

}

body {
    margin: 1rem;
    height: 100vh;
    background: 
    linear-gradient( to bottom right, rgb(44, 44, 44), transparent),
    repeating-linear-gradient(45deg, rgb(49, 49, 49) 0%, rgb(49, 49, 49) 5%, transparent 5%, transparent 6%),
    rgb(87,31,78) repeating-linear-gradient(-45deg, rgb(49, 49, 49) 0%, rgb(49, 49, 49) 5%, transparent 5%, transparent 6%);
}

h1 {
    font-family: 'Bungee', sans-serif;
    font-size: 4.235rem;
    padding: 0px;
    margin-top: 0px;

}



textarea{
    resize: none;
    border: 2px solid black;
    text-align: left;
    width: 300;

}